header {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 50px;
 	width: 100%;
}


.title {
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
	
}
body {
	margin-left: auto;
    margin-right: auto;
}

.introContainer{
	display: flex;
	justify-content: center;
	height: 40px;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
	font-weight: 500;
	text-align: center;
}
#sliderName{
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 12px;
	text-align: center;
}

.interactive {
	width: 300px;
	margin-left: auto;
    margin-right: auto;
	display: flex;
	justify-content: center;

}

#canvas {
	border: 1px solid #000000;
}

.canvasContainer {
	width: min-content;
	height: min-content;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;

}

.inputDiv {
	display: inline-block;
  	height: 50px;
 	width: 100%;
	
}

.sliderContainer{
	margin-bottom: 30px;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 40%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.sliderNameContainer{
	display: flex;
	justify-content: center;
	height: 40px;
}
#sliderName{
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 12px;
	text-align: center;
}
input {
	display: block;
	box-sizing:border-box;
	width: 20%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	border: #000000 solid 1px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 12px;
	text-align: center;
}

.buttonDiv {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
button {
	width: 20%;
	margin-left: 50px;
	margin-right: auto;
	background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
	border: none;
    color: #333333;
    cursor: pointer;
    
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
